// own classes with min deep
table.table.data {
    thead {
        tr {
            td,
            th {
                .list-checkbox {
                    padding: 0;
                    padding-left: 5px;
                }

                & > a,
                & > span {
                    padding: 3px 3px;
                }

                &.sort-desc > a,
                &.sort-asc > a,
                &.sort-desc > span,
                &.sort-asc > span {
                    &::after {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    tbody {
        tr {
            &.rowlink {
                td,
                th {
                    // border-right: 1px solid #ddd;
                    margin: 0;
                    padding: 3px;

                    a {
                        margin: 0;
                        padding: 3px;
                    }

                    &.td-id {
                        text-align: center;
                        width: 20px;
                    }
                }
            }
        }
    }
}

.td-date {
    width: 150px;
}

// checkboxes
table.table.data .list-checkbox {
    top: -12px;
    width: 10px;
}

// button for list-setup top right
.list-widget .control-list table.table.data .list-setup {
    width: 30px;
}

// main-menu
.sidenav-tree ul.top-level {
    > li {
        div.group {
            h3 {
                padding-top: 8px;
                padding-bottom: 8px;
            }
        }

        > ul li a {
            padding: 5px 10px 0 35px;

            i {
                left: 5px;
                top: 5px;
            }
        }
    }
}

// status
.status {
    width: 20px;
}

.status-15 {
    height: 15px;
    width: 15px;
}

.status-blank {
}

.status-success {
}

.status-warning {
}

.status-danger {
}

.status-error {
}
